Source: python-linz-pyaxis
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Section: python
X-Python-Version: >= 3.5
Priority: optional
Build-Depends:
  python3-all,
  python3-setuptools,
  debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-linz-pyaxis
Architecture: all
Depends: 
  ${misc:Depends}, 
  ${python3:Depends},
  python3-linz-adjustment
Description: Python LINZ local tie survey adjustment
 Provides the pyaxis function for adjusting local tie surey data.
 .
 This package installs the script for Python 3.
